/* -------- HEADER -------- */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #fddb3a, #00c853, #1e88e5);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}
.home-logo img{
  height: 50px;
  width: auto;
}

.nav-group{
  display: flex;

}

.nav-link{
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 0 14px;
  position: relative;
  transition: all 0.3s ease;
    text-shadow: 0 0 8px #ffd600, 0 0 14px #ff3d00;
}

.nav-link::after {
  text-decoration: none;

  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background: #ffd600;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #ffd600;
  text-shadow: 0 0 8px #ffd600;
  transform: translateY(-2px);
}

#user, .guests {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* #user a:first-child,
.guests a:last-child {
  padding: 8px 18px;
  border-radius: 30px;
  background: linear-gradient(45deg, #ff3d00, #ffd600);
  color: #000000ff;
  font-weight: 900;
  box-shadow: 0 4px 11px rgba(255, 61, 0, 0.6);
}

#user a:first-child:hover,
.guests a:last-child:hover {
  transform: scale(1.08);
  box-shadow: 0 0 16px rgba(255, 214, 0, 0.9);
  color:  #000;
}

#user a:last-child {
  color: #f8eaecff;
  text-shadow: 0 0 6px #ff5252;
} */

/* -------- HOME PAGE -------- */
.home-page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-left: 60px;

  background-image: url('/public/cristiano.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.home-text {
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 14px;
  position: relative;
  top: -200px;
}

.home-text h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}

.home-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* -------- REGISTER PAGE -------- */
.register-page {
  max-width: 500px;
  margin: 50px auto;
  padding: 32px;
  background: url('/public/register.jpg');
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 14px 30px rgba(0,0,0,0.18);
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.register-page h1 {
  position: relative;
  top: -100px;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 22px;
  color: #b68b09ff;
  text-shadow: 0 0 8px rgba(255, 214, 0, 0.6);
}

.register-form label {
  position:relative;
  left: 22px;
  display: inline;
  margin-bottom: 6px;
  font-weight: 700;
  color: #fff8e6ff;
    text-shadow: 0 0 8px rgba(255, 214, 0, 0.6);

}

.register-form input {
  width: 90%;
  padding: 10px 14px;
  margin-bottom: 16px;
  border-radius: 14px;
  /* border: 2px solid #6e4003ff; */
  font-size: 0.95rem;
  transition: all 0.2 ease;
}


.btn-register {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 14px 0;
  border: none;
  border-radius: 25px;
  background: #b48909ff;
  font-weight: 900;
  font-size: 1rem;
  color: #fffffeff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-register:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 255, 4, 0.7)
}

/* -------- LOGIN PAGE -------- */
.login-page {
  max-width: 500px;
  margin: 50px auto;
  padding: 32px;
  background: url('/public/entrance.jpg');
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 14px 30px rgba(0,0,0,0.18);
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.login-page h1 {
  position: relative;
  top: -100px;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 22px;
  color: #1ad009ff;
  text-shadow: 0 0 8px rgba(255, 214, 0, 0.6);
}

.login-form label {
  position:relative;
  left: 22px;
  display: inline;
  margin-bottom: 6px;
  font-weight: 700;
  color: #fff8e6ff;
    text-shadow: 0 0 8px rgba(255, 214, 0, 0.6);

}

.login-form input {
  width: 90%;
  padding: 10px 14px;
  margin-bottom: 16px;
  border-radius: 14px;
  /* border: 2px solid #0a50dcff; */
  font-size: 0.95rem;
  transition: all 0.2 ease;
}


.btn-login {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 14px 0;
  border: none;
  border-radius: 25px;
  background: #0a7000ff;
  font-weight: 900;
  font-size: 1rem;
  color: #fffffeff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 255, 4, 0.7)
}

/* -------- CATALOG -------- */
.catalog-page {
  padding: 60px 40px 80px;
  min-height: 100vh;
  background:
  radial-gradient(circle at top, rgba(255, 214, 0, 0.25), transparant 40%),
  linear-gradient(180deg, #f8efefff, #ffffff);
}

.catalog-page h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #1672c2ff;
  text-shadow: 0 0 10px rgba(255, 214, 0, 0.6);
}

.catalog-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 36px;
  justify-items: center;
}

.catalog-container > * {
  animation: fadeUp 0.6 ease both;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* -------- BOOTS CARD -------- */
.boots-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  width: 340px;
  
}


.boots-card:hover {
  transform:translateY(-6px) scale(1.02);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

.boots-image {
  position: relative;
  height: 220px;
  background: linear-gradient(180deg, #fddb3a, #00c853, #1e88e5);
  overflow: hidden;
  padding: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 16px;
}

.boots-image img {
  width: 90%;
  height: 100%;
  object-fit: contain;
  border-radius: 11px;
  transition: transform 0.4s ease;
  padding: 6px;
  background: #ffffffff;
}

.boots-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255,255,255,0.2), rgba(255,255,255,0.5), rgba(255,255,255,0.2));
  transform: skewX(-25deg);
  transition: all 0.7s ease;
}

.boots-card:hover .boots-image::after {
  left:125%;
}

.boots-content {
  padding: 18px 20px 22px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.boots-name {
  margin-bottom: 6px;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #1e88e5;
}

.boots-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.boots-terrain {
  background: #00c853;
  color: #ffffffff;
  font-weight:700;
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 0.75rem;
}

.boots-rating {
  display: inline-block;
  color: #ffd600;
  font-size: 0.9rem;
  margin-bottom: 9px;
  font-weight: 700;
}

.boots-price {
  font-weight: 900;
  color: #000000ff;
}

.boots-description {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #333333ff;
}

.boots-details-btn {
  display:block;
  text-align: center;
  padding: 8px;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffffff;
  background: #1e88e5;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.boots-details-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(60, 161, 9, 0.6);

}

/* -------- BOOTS DETAILS -------- */
.details-page {
  padding: 60px 40px;
  background: #ffffffff;
  min-height: 100vh;
}

.details-card {
  max-width: 900px;
  margin: 0 auto 50px;
  background: #ffffffff;
  border-radius: 22px;
  box-shadow: 0 14px 35px rgba(0,0,0,0.18);
  overflo4: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details-image {
  position: relative;
  top: 50px;
  width: 340px;
  height: 220px;
  margin: 0 auto;
  background: linear-gradient(180deg, #fddb3a, #00c853, #1e88e5);
  overflow: hidden;
  padding: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 14px 30px rgba(0,0,0,0.18);
  transition: transform 0.35 ease, box-shadow 0.35 ease;
}

.details-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}
/* .details-image {
  background: linear-gradient(135deg, #fddb3a, #00c853, #1e88e5);
  padding: 14px;
}

.details-image img {
  width:100%;
  height: 100%;
  object-fit: contain;
  background: #ffffffff
  border-radius: 18px;
  padding: 16px;
} */

.details-content {
  padding: 32px;
}

.details--title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 14px;
  color: #1e88e5;
}

.details-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom:16px;
}

.details-terrain{
  background: #00c853;
  color: #ffffffff;
  padding: 6px 16px;
  border-radius: 20px;
  font-weight: 800;
}

.details-price {
  font-size: 1.2rem;
  font-weight: 900;
  color: #ff3d00;
}

.details-description {
  font-size: 0.95rem;
  line-height: 1.7;
  margin-bottom: 22 px;
}

.details-actions {
  display: flex;
  gap: 14px;
}

.btn {
  padding: 10px 22px;
  border-radius: 30px;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.btn.edit {
  background: #1e88e5;
  color: #ffffffff;
}

.btn.delete {
  background: #ff3d00;
  color:#ffffffff;
}
.btn.like {
  background: #06c122ff;
  color:#ffffffff;
}
.btn.like.liked {
  background: #787878ff;
  color:#ffffffff;
}

.comments-section {
  max-width:900px;
  margin: auto;
  background: #ffffffff;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0.15);
}

.comments-section h3 {
  margin-bottom: 16px;
}
.comments-section ul {
  list-style: none;
}

.comment-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.no-comments {
  font-style: italic;
  opacity: 0.7;
}

.comments-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.comment {
  padding: 14px 16px;
  background: #ffffffff;
  border-radial: 14px;
  border: 2px solid #545353ff;
}

.comments-form textarea {
  width: 90%;
  min-height: 80px;
  border-radius: 14px;
  padding: 14px;
  /* border: 2px solid #ddd; */
  margin-bottom: 14px;
}

.comments-form button {
  background: linear-gradient(45deg, #00c853, #ffd600);
  border: none;
  padding: 14px 26px;
  border-radius: 30px;
  font-weight: 900;
  cursor: pointer;
}

.comment-author {
  background-color: #009dffff;
  border-radius: 6px;
  padding: 6px;
  margin: 6px;
  color: #fbfb00ff
}

/* -------- BOOTS DETAILS -------- */
.edit-boots-page {
  max-width: 500px;
  margin: 50px auto;
  padding: 32px;
  /* background: linear-gradient(145deg, #ffffffff, #13a700ff); */
  background: url('/public/Soccer-Field-Vector.jpg');
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 14px 30px rgba(0,0,0,0.18);
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.edit-boots-page h1 {
  position: relative;
  top: -100px;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 22px;
  color: #ff9100ff;
  text-shadow: 0 0 8px rgba(255, 214, 0, 0.6);
}

.edit-form label {
  position:relative;
  left: 22px;
  display: inline;
  margin-bottom: 6px;
  font-weight: 700;
  color: #745402ff;
  text-shadow: 0 0 8px rgba(255, 214, 0, 0.6);
}

.edit-form input,
.edit-form textarea {
  width: 90%;
  padding: 10px 14px;
  margin-bottom: 16px;
  border-radius: 14px;
  /* border: 2px solid #0a50dcff; */
  font-size: 0.95rem;
  transition: all 0.2 ease;
}

.edit-form textarea {
  resize: vertival;
  min-height: 100px;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 25px;
  background: #ddda6fff;
  font-weight: 900;
  font-size: 1rem;
  color: #ff9c08ff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(255,214, 0, 0.7)
}

/* -------- BOOTS CREATE -------- */
.create-boots-page {
  max-width: 500px;
  margin: 50px auto;
  padding: 32px;
  /* background: linear-gradient(145deg, #ffffffff, #13a700ff); */
  background: url('/public/Soccer-Field-Vector.jpg');
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 14px 30px rgba(0,0,0,0.18);
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.create-boots-page h1 {
  position: relative;
  top: -100px;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 22px;
  color: #ff9100ff;
  text-shadow: 0 0 8px rgba(255, 214, 0, 0.6);
}

.create-form label {
  position:relative;
  left: 22px;
  display: inline;
  margin-bottom: 6px;
  font-weight: 700;
  color: #745402ff;
    text-shadow: 0 0 8px rgba(255, 214, 0, 0.6);

}

.create-form input,
.create-form textarea {
  width: 90%;
  padding: 10px 14px;
  margin-bottom: 16px;
  border-radius: 14px;
  /* border: 2px solid #0a50dcff; */
  font-size: 0.95rem;
  transition: all 0.2 ease;
}

.create-form textarea {
  resize: vertival;
  min-height: 100px;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 25px;
  background: #ddda6fff;
  font-weight: 900;
  font-size: 1rem;
  color: #ff9c08ff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(255,214, 0, 0.7)
}

/* -------- FOOTER -------- */
.footer {
  background: linear-gradient(135deg, #fddb3a, #00c853, #1e88e5);
  color: #fff;
  padding-top: 0px;
  padding-bottom: 16px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 32px;
  padding: 0px 32px;
}

.footer-column h4 {
  margin-bottom: 12px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.footer-column p {
  font-size: 0.9rem;
  line-height: 1.6;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight:600;
  transition: all 0.3s;
}

.footer-column ul li a:hover {
  color: #ffd600;
  text-shadow: 0 0 6px #ffd600;
  transform: translateX(3px);
}

.footer-socials a {
  display: inline-block;
  margin-bottom: 14px;
  font-weight: 700;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #ff3d00;
  text-shadow: 0 0 8px #ffd600;
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  padding: 9px;
  margin-top: 9px;
  background: rgba(0,0,0,0.2);
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}

.footer a {
  text-decoration: none;
}

.footer h4, .footer p, .footer li {
  transition: 0.3s;
}

.footer-column h4,
.footer-column p {
  text-shadow: 0 0 8px #ffd600, 0 0 14px #ff3d00;
}

/* -------- ROULETTE LOADING -------- */

.roulette-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  position: relative;
}

.roulette {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255, 214, 0, 0.3);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 14px #ffd600, 0 0 25px #1e88e5;
  position: relative;
  /* background: linear-gradient(135deg, #fddb3a, #00c853, #1e88e5); */
}

.roulette-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 92px;
  height: 92px;
  transform: translate(-50%, -50%)
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -------- MODAL INFORMATIVE -------- */

.modal {
  position: fixed;
  top: 70px;
  right: 170px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  pointer-events: ;
}
.modal-content{
  background: linear-gradient(50deg, #eacb2cff, #ffa600ff);
  color: #ffffffff;
  font-weight: 700;
  padding: 16px 25px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
  text-transform: uppercase;
  letter-spacing: 2px;
  pointer-events: all;
  animation: slideIn 0.5 ease;
}

.modal-actions {
  display: flex;
  gap: 14px;
  margin-top: 14px;
  justify-content: flex-end;
  pointer-events: all;
}

.modal-actions button {
  padding: 8px 20px;
  border: none;
  border-radius: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.2 ease, box-shadow 0.2s ease;
}
.modal-action button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 11px rgba(0,0,0,0.25);
}

.modal-actions button:first-child {
  background: linear-gradient(50deg, #00c853, #ffd600);
  color: #ffffffff;
}

.modal-actions button:last-child {
  background: linear-gradient(50deg, #ff3d00, #f83a3aff);
  color: #ffffffff;
}

@keyframes slideIn {
  from {opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: tranaslate(0);}
}

.modal.success .modal-content {
  background: linear-gradient(50deg, #00c853, #ffd600);
}

.modal.error .modal-content {
  background: linear-gradient(50deg, #ff3d00, #e3f708ff)
}

/* -------- LINK SPAN -------- */

.linkTo {
  background-color: rgba(20, 217, 239, 0.38);
  color: #ffffff;
  padding: 3px;
  border-radius: 6px;
  text-decoration: none;
}

/* -------- FORM VALIDATE -------- */

.form-input {
  border: 1px solid #ffffffff;
  padding: 8px;
  border-radius: 6px;
  outline: none;
}

.form-input:focus {
  border-color: #215cddff;
}

.input-error {
  border: 3px solid #e11d1dff;
  /* border-color: #e11d1dff; */
}

.error-text {
  color: #e11d1dff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 3px;
}